---
---

@import "{{ site.theme }}";
body .tablelines table,
body .tablelines td,
body .tablelines th {
    border: 1px solid black; padding:10px;
}
body,div,table,thead,tbody,tfoot,tr,th,td,p { font-family:"Times New Roman"; font-size:large;
}
table,thead,tbody,tfoot,tr,th,td{ font-family:"Times New Roman"; font-size:small;width: 500px;
}
a.comment-indicator:hover + comment { background:#ffd; position:absolute; display:block; border:1px solid black; padding:0.5em;  }
a.comment-indicator { background:red; display:inline-block; border:1px solid black; width:0.5em; height:0.5em;  }
comment { display:none;  }
table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 75%;
      border: 1px solid rgb(0, 0, 0);
      overflow-x: auto;
      class: scrollit;
   }
   th, td {
      text-align: left;
      padding: 8px;
   }
.scrollit {
    overflow:scroll;
    height:100px;
}
